* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

html,
body {
    background-color: #fff;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    margin: 0px;
}

textarea {
    width: 100%;
}

#header {
    background-color: #000;
    height: 20%;
}

#footer {
    font-size: x-small;
}

#title {
    width: 100%;
    float: left;
    padding-left: 8px;
}

#menu-top {
    height: 100%;
    margin-left: 8px;
}

.menu-top {
    color: #fff;
}

#find-address {
    margin-top: 4px;
    margin-left: 4px;
}

#btnFindGrave {
    margin-top: 4px;
    margin-left: 4px;
}

#btnOpenCreateNew {
    margin-top: 4px;
    margin-left: 4px;
}

#btn-connect {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

#no-grave {
    height: 70%;
    padding: 1em;
    margin: 1em;
    vertical-align: middle;
    border: 1px solid #000;
}

#grave {
    height: max-content;
    margin: 4px;
    background-color: #000;
    border: 2px solid #000;
    background-repeat: no-repeat;
    background-size: cover;
}

#container-grave-image img {
    max-height: 300px;
    max-width: 180px;
    width: 180px;
    border: 1px solid black;
}

#container-grave-text {
    margin: 4px;
    padding: 4px;
}

.gift-text {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    padding: 4px;
    width: auto;
    display: table;
    margin: 0 auto;
}

#menu-relationship {
    padding-bottom: 4px;
}

#container-grave {
    display: block;
    height: auto;
    width: auto;
    font-size: small;
    margin: 4px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
}

#map-create {
    display: inline-block;
    width: -webkit-fill-available;
    width: -moz-available;
}

#map-grave {
    display: block;
    width: auto;
    height: 400px;
    padding: 4px;
    margin: 4px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
}

#container-gifts {
    display: block;
    width: auto;
    height: auto;
    padding: 4px;
    margin: 4px;
    font-size: small;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.8);
}

#container-update {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
}

#gravelist {
    height: auto;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

#ul-gl {
    list-style-type: none;
}

.list-updated-graves {
    display: inline;
    color: #000;
    padding: 8px;
}

#grave-create {
    padding: 1em;
    margin: 1em;
    border: 1px solid #000;
}

#map-create {
    display: block;
    width: 100%;
    height: 400px;
}

#screen-wrong-chain,
#screen-not-connected {
    width: 100%;
    height: 100%;
    text-align: center;
}

.web3modal-modal-card {
    background-image: url("../images/tombstones.png");
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    background-color: #fff;
    color: #000;
}

button {
    background-color: #fff;
    color: #000;
}

.hidden {
    width: 0;
    height: 0;
    border: 0;
    border: none;
    position: absolute;
    visibility: hidden;
}

.center {
    text-align: center;
    align-content: center;
    align-self: auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.warning {
    background: #ff0;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #000;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #000;
    /* creates padding around scroll thumb */
}